#output {
  display: none;
  border-radius: 25px;
  border: solid #fdf0d5;
}

body {
  background-color: #669bbc;
}

img {
  border-radius: 25px;
  border: solid #fdf0d5;
}

.text {
  color: #fdf0d5;
  padding: 15px;
}

.center, .button {
  text-align: center;
  padding: 20px;
}